extends layout

block carousel

  - var data = file || {}

  section
    article
      h1.text-secondary.text-center= `Détails de "${data.title}"`

      // image
      div.container-fluid.row
        figure.figure.text-center.col
          img.figure-img.img-fluid.img-thumbnail.d-block.w-75(src=data.body, alt="photo à editer")

        div.container-fluid.col
          br
          br
          p <strong>Titre:</strong> <em>#{data.title}</em>
          p <strong>Url:</strong>   <em>#{data.body}</em>
          p <strong>Création:</strong>   <em>#{data.created}</em>
          p <strong>Modification:</strong>   <em>#{data.updated}</em>

      div.container-fluid.bg-black.btn-bar
        div.row.text-center(role="group", aria-label="Boutons d'actions")

          div.col-4

          // Bouton Modifier
          div.col-2
            a(href=`/edit/${data._id}`)
              button.btn.btn-success Modifier

          // Bouton supprimer
          div.col-2
            form(method="post", action=`/delete/${data._id}`)
               input#id(value=data._id, name="id", hidden=true)
               button.btn.btn-danger(type="submit") Supprimer
