extends layout

block carousel

  - var data = file || {}

  section
    article
      h1(class="text-secondary text-center")= `Détails de "${data.title}"`

      // image
      div(class="container-fluid row")
        figure(class="figure text-center col")
          img(class="figure-img img-fluid img-thumbnail d-block w-75", src=data.body, alt="photo à editer")

        div(class="container-fluid col")
          br
          br
          p <strong>Titre:</strong> <em>#{data.title}</em>
          p <strong>Url:</strong>   <em>#{data.body}</em>
          p <strong>Création:</strong>   <em>#{data.created}</em>
          p <strong>Modification:</strong>   <em>#{data.updated}</em>

      div(class="container-fluid bg-black btn-bar")
        div(class="row text-center", role="group", aria-label="Boutons d'actions")

          div(class="col-4")

          // Bouton Modifier
          div(class="col-2")
            a(href=`/edit/${data._id}`)
              button(class="btn btn-success") Modifier

          // Bouton supprimer
          div(class="col-2")
            form(method='DELETE', action=`/${data._id}`)
               input#id(value=data._id, name="id", hidden=true)
               input.btn.btn-danger(type='submit', value='Supprimer')
