extends layout

block carousel

  - var datas = #{datas} || [{}]

  if errors
    ul.my-errors
      for error in errors
        li= error.msg

  article
    h2 Faire défiler

    div(id="carouselExampleSlidesOnly", class="carousel slide", data-ride="carousel")
     ol(class="carousel-indicators")
       each data in datas
         li(data-target="#carouselExampleIndicators", data-slide-to=data.id, class="active")
     div(class="carousel-inner")
       div(class="carousel-item active")
         each data in datas
           img(class="d-block w-100", src= data.body, alt="slide")
           div(class="carousel-caption d-none d-md-block")
             h5= data.title
             p= data.author
     a(class="carousel-control-prev", href="#carouselExampleControls", role="button", data-slide="prev")
       span(class="carousel-control-prev-icon", aria-hidden="true")
       span(class="sr-only") Previous
     a(class="carousel-control-next", href="#carouselExampleControls", role="button", data-slide="next")
       span(class="carousel-control-next-icon", aria-hidden="true")
       span(class="sr-only") Next
