extends layout

block carousel

   - var datas = datas || [{}]

   if errors
     ul.my-errors
       for error in errors
         li= error.msg

   article
    h2(class="text-primary text-center") Faire défiler

    br

    div(id="carousel", class="carousel slide text-center", data-ride="carousel")

      ol(class="carousel-indicators")
        each data, index in datas
          case index
            when 0
              li(data-target="#carousel", data-slide-to=index, class="active")
            default
              li(data-target="#carousel", data-slide-to=index)

      div(class="carousel-inner")
        each data, index in datas
          if datas
            case index
              when 0
                div(class="carousel-item active")
                    if data.body
                      a(href=data.id)
                          img(class="d-block w-50 img-thumbnail img-fluid", src=`${data.body[1]}`, alt= `${data.body[0]}`)
                          div(class="carousel-caption d-none d-md-block")
                            h5= data.title
                            p= data.author
              default
                div(class="carousel-item")
                    if data.body
                      a(href=data.id)
                          img(class="d-block w-50 img-thumbnail img-fluid", src=`${data.body[1]}`, alt= `${data.body[0]}`)
                          div(class="carousel-caption d-none d-md-block")
                            h5= data.title
                            p= data.author
          else
            div(class="carousel-item")
              a(href=data.id)
                  img(class="d-block w-100", src="/statics/img/img404.PNG", alt="vide")
                  div(class="carousel-caption d-none d-md-block")
                    h5= data.title
                    p= data.author
      a(class="carousel-control-prev", href="#carousel", role="button", data-slide="prev")
        span(class="carousel-control-prev-icon", aria-hidden="true")
        span(class="sr-only") Précédent
      a(class="carousel-control-next", href="#carousel", role="button", data-slide="next")
        span(class="carousel-control-next-icon", aria-hidden="true")
        span(class="sr-only") Suivant
